[Desktop Entry]
Encoding=UTF-8
Name=Link para obsidian://open?vault=DayApp&file=teste
Type=Link
URL=obsidian://open?vault=DayApp&file=teste
Icon=text-html
